#!/usr/bin/env python3
PACKAGE = "obstacle_publisher"
import rospkg
import yaml, os
from dynamic_reconfigure.parameter_generator_catkin import *

ros_path = rospkg.RosPack().get_path('obstacle_publisher')


gen = ParameterGenerator()
gen.add("speed_scaler", double_t, 0, "Speed of opponent: Global wpnts times speed scaler", 0.0, 0.1, 1.25)
gen.add("ampl_sin1", double_t, 0, "Amplitude of frist sinus", 0.0, 0.1, 1.0)
gen.add("ampl_sin2", double_t, 0, "Amplitude of second sinus", 0.0, 0.1, 1.0)
gen.add("phase_sin1", double_t, 0, "Phase of first sinus", 4, 0.5, 8)
gen.add("phase_sin2", double_t, 0, "Phase of second sinus", 3, 0.5, 8)
# Sinusoidal path deviation parameters
gen.add("path_amplitude", double_t, 0, "Amplitude of sinusoidal path deviation [m]", 0.1, 0.0, 2.0)
gen.add("path_frequency", double_t, 0, "Frequency of sinusoidal path deviation [1/m]", 0.15, 0.01, 1.0)
gen.add("path_phase", double_t, 0, "Phase offset of sinusoidal path deviation", 0.0, 0.0, 6.28)

exit(gen.generate(PACKAGE, "obs_dynaimc_publisher", "dyn_obs_publisher"))