#!/usr/bin/env python3

PACKAGE = "overtaking_sector_tuner"
import rospkg
import yaml, os
from dynamic_reconfigure.parameter_generator_catkin import *

# Try to find ot_sectors.yaml in common locations
yaml_path = None
yaml_found = False

# Check in stack_master maps directories (most common location)
try:
    stack_master_path = rospkg.RosPack().get_path('stack_master')
    common_maps = ['f', 'marina_10%s_100%w_dimensionless', 'ETH_Zurich']
    for map_name in common_maps:
        test_path = os.path.join(stack_master_path, 'maps', map_name, 'ot_sectors.yaml')
        if os.path.isfile(test_path):
            yaml_path = test_path
            yaml_found = True
            break
except:
    pass

# If not found in stack_master, try f1tenth_simulator
if not yaml_found:
    try:
        f110_sim_path = rospkg.RosPack().get_path('f1tenth_simulator')
        for map_name in ['f', 'marina_10%s_100%w_dimensionless']:
            test_path = os.path.join(f110_sim_path, 'maps', map_name, 'ot_sectors.yaml')
            if os.path.isfile(test_path):
                yaml_path = test_path
                yaml_found = True
                break
    except:
        pass

# Fallback to overtaking_sector_tuner package (legacy)
if not yaml_found:
    ros_path = rospkg.RosPack().get_path('overtaking_sector_tuner')
    yaml_path = os.path.join(ros_path, 'cfg/ot_sectors.yaml')
    yaml_found = os.path.isfile(yaml_path)

if yaml_found and yaml_path:
    with open(yaml_path) as file:
        sector_dict = yaml.load(file, Loader=yaml.FullLoader)

    gen = ParameterGenerator()

    gen.add("yeet_factor",    double_t,    0, "Yeet Factor!", sector_dict['yeet_factor'],  0.5, 3.5)
    gen.add("spline_len",    double_t,    0, "Length of spline", sector_dict['spline_len'],  10, 50)
    gen.add("ot_sector_begin",    double_t,    0, "OT Sector Begin Length [m]", sector_dict['yeet_factor'],  0.1, 1.5)


    sectors = {k: v for k, v in sector_dict.items() if k.startswith('Overtaking_sector')}

    # Generate flags for yes/no overtaking sector
    i=0
    for key, item in sectors.items():
        #name, paramtype, level, description, default, min, max
        gen.add("Overtaking_sector"+ str(i),   bool_t,   1, "Overtake in Sector{}".format(i),  item['ot_flag'])
        i += 1
else:
    gen = ParameterGenerator()

    gen.add("yeet_factor",    double_t,    0, "Yeet Factor!", 0.69,  0.5, 3.5)
    gen.add("spline_len",    double_t,    0, "Length of spline", 42,  10, 50)
    gen.add("ot_sector_begin",    double_t,    0, "OT Sector Begin Length [m]", 0.69,  0.1, 1.5)
    gen.add("Overtaking_sector"+ str(0),   bool_t,   1, "Overtake in Sector0",  False)

exit(gen.generate(PACKAGE, "ot_dynamic_sector", "ot_dyn_sect_tuner"))
